<section id="intro">
  <div class="container-fluid black-cont">
    <div class="container image-container d-none d-md-block">
    </div>
    <div class="container-lg homesec-one">
      <div class="row justify-content-start">
        <div class="col-12 text-start intro-header">
          <h1>
            <div class="display-6 location-heading pb-1" style="font-size: 18px; color: #FFFFFF"></div>
            <div class="display-1" style="color: #FFFFFF;">Empowering Change,<br>
              Inspiring Action</div>
            <div class="display-6 pt-1" style="font-size: 30px; color: #FFFFFF">Partner with allies that think strategically, design effectively,
              and turn your vision into impactful change.</div>
            <div class="pt-4"><a class="btn hero-button" href="<%= portfolio_path %>" role="button">Our Work</a></div>
            <div class="credit text-end pt-4" style="font-size: 13px; color: #FFFFFF; opacity: 0.5;">Photo Credit: Anthony Crider</div>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="banner">
  <div class="container-fluid d-flex align-items-center banner">
    <div class="container-lg banner-text">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h2 class="banner-text-mobile display-6" style="font-size: 18px; color: #FFFFFF; text-transform: uppercase; letter-spacing: 5px;">UNITING CAUSES, CRAFTING DESIGN, INSPIRING ACTION</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="mission">
  <div class="container-fluid mission-cont">
    <div class="container-lg mission-section">
      <div class="row justify-content-start">
        <div class="col-lg-5 text-start">
          <h1>
            <div class="display-4 cause-text">
              <span class="marker-underline">Your cause
                <div class="underline"></div>
              </span> is<br>
              our commitment.
            </div>
          </h1>
        </div>
        <div class="col-lg-7 text-center">
          <h1>
            <div class="display-6 align-items-center" style="font-size: 20px">"Monarch Digital stands out with unparalleled integrity, commitment, design and technical expertise. Their adaptability and growth mindset make them an invaluable partner for any organization."</div>
            <div class="display-6 align-items-center pt-3 text-muted fw-bold" style="font-size: 18px">Ricky Hurtado | LatinxEd</div>
          </h1>
        </div>
      </div>
      <div class="row justify-content-between pt-4">
        <div class="col-lg-4 text-start">
          <h1>
            <div class="display-6 align-items-center text-muted" style="font-size: 18px">The world our partners fight for is what drives us. Our team comes from political campaigns, issue advocacy, design, technology and communications.</div>
          </h1>
        </div>
        <div class="col-lg-7 text-start">
          <h1>
            <div class="display-6 align-items-center text-muted" style="font-size: 18px">
              Our team, rooted in progressive values, is intimately connected to the causes you champion, including criminal legal reform, mental healthcare, immigration, equality advocacy, and beyond. Our personal experiences inform our approach and fuel our unwavering commitment to your mission. We stand ready to partner with advocacy organizations that share our dedication to meaningful change.</div>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container-fluid services-cont">
    <div class="container-lg services-section">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h1>
            <div class="justify-content-center display-5" style="color: #FFFFFF;"">
              What we're good at
            </div>
          </h1>
        </div>
      </div>
      <div class="row justify-content-between pt-5 pb-4">
        <div class="col-lg-3">
          <div class="card glass-effect" style="width: 20rem;">
            <div class="card-body">
              <h2 class="card-title display-6" style="color: #FFFFFF;">At the center</h2>
              <h5 class="card-subtitle display-6 mb-2" style="color: #CC5FFF; font-size: 20px;">Strategy</h5>
              <p class="card-text" style="color: #FFFFFF; font-size: 15px;">Unlock your organization's full digital potential with our strategic approach. We mold your message, devise targeted content, and shape your brand narrative to connect with the right audience, fostering growth and impact.</p>
              <a href=" <%= portfolio_path %> " class="card-link-hover" style="color: #C64DFF;">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card glass-effect" style="width: 20rem;">
            <div class="card-body">
              <h2 class="card-title display-6" style="color: #FFFFFF;">On the surface</h2>
              <h5 class="card-subtitle display-6 mb-2" style="color: #CC5FFF; font-size: 20px;">Digital</h5>
              <p class="card-text" style="color: #FFFFFF; font-size: 15px;">In today's digital era, your online persona speaks volumes. Whether you're creating a unique online presence for your brand or amplifying your mission with immersive media experiences, we'll help you create a resonant and enduring digital footprint.</p>
              <a href=" <%= portfolio_path %> " class="card-link-hover" style="color: #C64DFF;">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card glass-effect" style="width: 20rem;">
            <div class="card-body">
              <h2 class="card-title display-6" style="color: #FFFFFF;">Visual Identity</h2>
              <h5 class="card-subtitle display-6 mb-2" style="color: #CC5FFF; font-size: 20px;">Design</h5>
              <p class="card-text" style="color: #FFFFFF; font-size: 15px;">Design reigns supreme. With expertise in digital, UI/UX, and web development, we tackle design challenges head-on. Our commitment to amplifying your message ensures it reaches and resonates with your audience.</p>
              <a href=" <%= portfolio_path %> " class="card-link-hover" style="color: #C64DFF;">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="movement-makers">
  <div class="container-fluid movement-makers-cont">
    <div class="container-lg movementmakers-section">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="display-5 cause-text">
            <span class="marker-underline">Movement Makers
              <div class="underline"></div>
            </span>
            trust Monarch Digital.
          </h1>
        </div>
      </div>
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 justify-content-center pt-4 g-4">
        <div class="col logo-container-home">
          <%= link_to image_tag('https://res.cloudinary.com/dqe5h0j32/image/upload/v1700158625/latinxedMD_mtxdhc.png', class: "logo img-fluid", alt: "LatinxEd Logo"), 'https://latinxed.org/', target: "_blank" %>        </div>
        <div class="col logo-container-home">
          <%= link_to image_tag('https://res.cloudinary.com/dqe5h0j32/image/upload/v1700158901/ncdemsMD_c5pwng.png', class: "logo img-fluid", alt: "NCDP Logo"), 'https://ncdp.org/', target: "_blank" %>        </div>
        <div class="col logo-container-home">
          <%= link_to image_tag('https://res.cloudinary.com/dqe5h0j32/image/upload/v1700158385/FAMMMD_a0bfnn.png', class: "logo img-fluid", alt: "Famm Foundation Logo"), 'https://famm.org/', target: "_blank" %>        </div>
        <div class="col logo-container-home">
          <%= link_to image_tag('https://res.cloudinary.com/dqe5h0j32/image/upload/v1700158901/rickyhouseMD_akmktf.png', class: "logo img-fluid", alt: "Ricky Hurtado Logo"), 'https://rickyhurtadofornc.com/', target: "_blank" %>        </div>
        <div class="col logo-container-home">
          <%= link_to image_tag('https://res.cloudinary.com/dqe5h0j32/image/upload/v1700158900/poderMD_d6famd.png', class: "logo img-fluid", alt: "Poder Latinx Logo"), 'https://poderlatinx.org/', target: "_blank" %>
        </div>
        <div class="col logo-container-home">
          <%= link_to image_tag('https://res.cloudinary.com/dqe5h0j32/image/upload/v1700160165/runtheworldMD_bkwh6j.png', class: "logo img-fluid", alt: "RuntheWorld Logo"), '', target: "_blank" %>
        </div>
        <div class="col logo-container-home">
          <%= link_to image_tag('https://res.cloudinary.com/dqe5h0j32/image/upload/v1700160957/ACDPMD_ttne2f.png', class: "logo img-fluid", alt: "ACDP Logo"), 'https://alamancedemocraticparty.com/', target: "_blank" %>
        </div>
        <div class="col logo-container-home">
          <%= link_to image_tag('https://res.cloudinary.com/dqe5h0j32/image/upload/v1700161135/YDACMD_w5e1zt.png', class: "logo img-fluid", alt: "ACDP Logo"), 'https://alamancedemocraticparty.com/', target: "_blank" %>
        </div>
        <div class="col logo-container-home">
          <%= link_to image_tag('https://res.cloudinary.com/dqe5h0j32/image/upload/v1700161386/BethMD_oph1zq.png', class: "logo img-fluid", alt: "Beth Kennett Logo"), 'https://bethkennettforburlington.com/', target: "_blank" %>
        </div>
        <div class="col logo-container-home">
          <%= link_to image_tag('https://res.cloudinary.com/dqe5h0j32/image/upload/v1700161520/AFMD_tpgzza.png', class: "logo img-fluid", alt: "Beth Kennett Logo"), 'https://latinxed.org/alamanceforward/', target: "_blank" %>
        </div>
        <div class="col logo-container-home">
          <%= link_to image_tag('https://res.cloudinary.com/dqe5h0j32/image/upload/v1700161768/Onpointstudios_jvznp8.png', class: "logo img-fluid", alt: "Beth Kennett Logo"), 'https://latinxed.org/alamanceforward/', target: "_blank" %>
        </div>
        <!-- Additional logos here -->
      </div>
    </div>
  </div>
</section>
<section id="reviews">
  <div class="container-fluid review-cont">
    <!-- Carousel wrapper -->
    <div id="carouselExampleControls" class="carousel slide text-center carousel-dark" data-mdb-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="rounded-circle shadow-1-strong mb-4"
  src="https://res.cloudinary.com/dqe5h0j32/image/upload/v1700163826/rickyMD_ilcsll.png" alt="avatar"
  style="width: 150px;" />
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <div class="display-5 cause-text">
                <span class="marker-underline">Ricky Hurtado
                  <div class="underline"></div>
                </span>
              </div>
              <p class="pt-2">North Carolina Legislator</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                Monarch Digital stands out with unparalleled integrity, commitment, design and technical expertise. Their adaptability and growth mindset make them an invaluable partner for any organization."
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="rounded-circle shadow-1-strong mb-4"
  src="https://res.cloudinary.com/dqe5h0j32/image/upload/v1700165948/bethmd3_b1rwgx.png" alt="avatar"
  style="width: 150px;" />
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <div class="display-5 cause-text">
                <span class="marker-underline">Beth Kennett
                  <div class="underline"></div>
                </span>
              </div>
              <p class="pt-2">Candidate for Burlington Mayor - NC</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                In my run for Burlington mayor, Monarch Digital was more than a web team; they are great partners who truly understood my vision. Their dedication, creativity, and ability to adapt made my campaign come alive online, making a real difference in connecting with the community. They're not just skilled professionals; they're invaluable allies in any campaign's digital journey."
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="rounded-circle shadow-1-strong mb-4"
  src="https://res.cloudinary.com/dqe5h0j32/image/upload/v1700166378/MEMD_wwrphh.png" alt="avatar"
  style="width: 150px;" />
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <div class="display-5 cause-text">
                <span class="marker-underline">MariaEmilia Morazán
                  <div class="underline"></div>
                </span>
              </div>
              <p class="pt-2">Global Project Manager</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                Partnering with Monarch Digital has been an absolute pleasure for us at FAMM. Their team's dedication to meeting every deadline, coupled with their deep understanding of progressive and social advocacy, brought a new level of excellence to our work. It's refreshing to work with a team that's always available and so in tune with our needs."
              </p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls"
    data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls"
    data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- Carousel wrapper -->
    </div>
  </section>
