<section id="intro">
  <div class="container-fluid black-cont">
    <div class="container image-container d-none d-md-block">
    </div>
    <div class="container-lg homesec-one">
      <div class="row justify-content-start">
        <div class="col-12 text-start intro-header">
          <h1>
            <div class="display-6 location-heading pb-1" style="font-size: 18px; color: #FFFFFF"> United States and Mexico</div>
            <div class="display-1" style="color: #FFFFFF;">Beyond Borders,<br>
              Inspiring Action</div>
            <div class="display-6 pt-1" style="font-size: 30px; color: #FFFFFF">Partner with allies that think strategically, design effectively,
              and turn your vision into impactful change.</div>
            <div class="pt-4"><a class="btn hero-button" href="<%= portfolio_path %>" role="button">Our Work</a></div>
            <div class="credit text-end pt-4" style="font-size: 13px; color: #FFFFFF; opacity: 0.5;">Photo Credit: Anthony Crider</div>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="banner">
  <div class="container-fluid d-flex align-items-center banner">
    <div class="container-lg banner-text">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h2 class="banner-text-mobile display-6" style="font-size: 18px; color: #FFFFFF; text-transform: uppercase; letter-spacing: 5px;">UNITING CAUSES, CRAFTING DESIGN, INSPIRING ACTION</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="mission">
  <div class="class container-fluid mission-cont">
    <div class="container-lg mission-section">
      <div class="row justify-content-start">
        <div class="col-lg-5 text-start">
          <h1>
            <div class="display-4 cause-text">
              <span class="marker-underline">Your cause
                <div class="underline"></div>
              </span> is<br>
              our commitment.
            </div>
          </h1>
        </div>
        <div class="col-lg-7 text-center">
          <h1>
            <div class="display-6 align-items-center" style="font-size: 20px">"Monarch Digital stands out with unparalleled integrity, commitment, design and technical expertise. Their adaptability and growth mindset make them an invaluable partner for any organization."</div>
            <div class="display-6 align-items-center pt-3 text-muted fw-bold" style="font-size: 18px">Ricky Hurtado | LatinxEd</div>
          </h1>
        </div>
      </div>
      <div class="row justify-content-between pt-4 pb-5">
        <div class="col-lg-4 text-start">
          <h1>
            <div class="display-6 align-items-center text-muted" style="font-size: 18px">The world our partners fight for is what drives us. Our team comes from political campaigns, issue advocacy, design, technology and communications.</div>
          </h1>
        </div>
        <div class="col-lg-7 text-start">
          <h1>
            <div class="display-6 align-items-center text-muted" style="font-size: 18px">
              Our team, rooted in progressive values, is intimately connected to the causes you champion, including criminal legal reform, mental healthcare, immigration, equality advocacy, and beyond. Our personal experiences inform our approach and fuel our unwavering commitment to your mission. We stand ready to partner with advocacy organizations that share our dedication to meaningful change.</div>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container-fluid services-cont">
    <div class="container-lg services-section">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h1>
            <div class="justify-content-center display-5" style="color: #FFFFFF;"">
              What we're good at
            </div>
          </h1>
        </div>
      </div>
      <div class="row justify-content-between pt-5 pb-4">
        <div class="col-lg-3">
          <div class="card glass-effect" style="width: 20rem;">
            <div class="card-body">
              <h2 class="card-title display-6" style="color: #FFFFFF;">At the center</h2>
              <h5 class="card-subtitle display-6 mb-2" style="color: #CC5FFF; font-size: 20px;">Strategy</h5>
              <p class="card-text" style="color: #FFFFFF; font-size: 15px;">Unlock your organization's full digital potential with our strategic approach. We mold your message, devise targeted content, and shape your brand narrative to connect with the right audience, fostering growth and impact.</p>
              <a href=" <%= portfolio_path %> " class="card-link-hover" style="color: #C64DFF;">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card glass-effect" style="width: 20rem;">
            <div class="card-body">
              <h2 class="card-title display-6" style="color: #FFFFFF;">On the surface</h2>
              <h5 class="card-subtitle display-6 mb-2" style="color: #CC5FFF; font-size: 20px;">Digital</h5>
              <p class="card-text" style="color: #FFFFFF; font-size: 15px;">In today's digital era, your online persona speaks volumes. Whether you're creating a unique online presence for your brand or amplifying your mission with immersive media experiences, we'll help you create a resonant and enduring digital footprint.</p>
              <a href=" <%= portfolio_path %> " class="card-link-hover" style="color: #C64DFF;">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card glass-effect" style="width: 20rem;">
            <div class="card-body">
              <h2 class="card-title display-6" style="color: #FFFFFF;">Visual Identity</h2>
              <h5 class="card-subtitle display-6 mb-2" style="color: #CC5FFF; font-size: 20px;">Design</h5>
              <p class="card-text" style="color: #FFFFFF; font-size: 15px;">Design reigns supreme. With expertise in digital, UI/UX, and web development, we tackle design challenges head-on. Our commitment to amplifying your message ensures it reaches and resonates with your audience.</p>
              <a href=" <%= portfolio_path %> " class="card-link-hover" style="color: #C64DFF;">Learn more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-between pt-3" id="testimonial-row">
        <div class="services col-12-lg text-center">
          <h3 class="testimonial-text" style="color: #FFFFFF; font-size: 20px;">
            "We have worked with Monarch Digital for about a year and a half at FAMM, and their professional, eye-catching designs have elevated our social media presence. Accommodating and skilled, the team meets all deadlines, offers valuable strategy suggestions, and is consistently easy to work with."<br>
            <br>
            MaríaEmilia Morazán | FAMM Foundation
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="movement-makers">
  <div class="container-fluid movement-makers-cont">
    <div class="container-lg movementmakers-section">
      <div class="row justify-content-between">
        <div class="col-lg-5 text-start">
          <h1>
            <div class="display-5 cause-text">
              <span class="marker-underline">Movement Makers
                <div class="underline"></div>
              </span><br>
              trust Monarch Digital.
            </div>
          </h1>
        </div>
        <div class="col-lg-7 pt-4">
          <div class="row justify-content-between">
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 logo-container-home">
              <%= link_to image_tag("latinxedlogo.png", class: "logo"), 'https://latinxed.org/', target: "_blank" %>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 logo-container-home">
              <%= link_to image_tag("alamanceforwardlogo.png", class: "logo"), 'https://latinxed.org/', target: "_blank" %>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 logo-container-home">
              <%= link_to image_tag("fammlogo.png", class: "logo"), 'https://famm.org', target: "_blank" %>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 logo-container-home">
              <%= link_to image_tag("newpoderlatinxlogo.png", class: "logo"), 'https://poderlatinx.org/', target: "_blank" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-between pt-5">
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-container-home">
          <%= link_to image_tag("ricky_house.png", class: "logo"), 'https://rickyhurtado.org/', target: "_blank" %>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-container-home">
          <%= link_to image_tag("runtheworldlogo.png", class: "logo"), 'https://runtheworlddigital.com/', target: "_blank" %>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-container-home">
          <%= link_to image_tag("ncdplogo.png", class: "logo"), 'https://www.ncdp.org/', target: "_blank" %>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-container-home">
          <%= link_to image_tag("acdplogo.png", class: "logo"), 'https://alamancedemocraticparty.com/', target: "_blank" %>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-container-home">
          <%= link_to image_tag("ydaclogo.png", class: "logo"), 'https://alamancedemocraticparty.com/', target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
</section>
