<section id="portfolioheader">
  <div class="container-fluid portfolioheader-cont">
    <div class="container portfolioimage-container"></div>
  </div>
</section>
<section id="portfoliostatement">
  <div class="container-fluid portfoliomain-cont justify-content-center">
    <div class="container portfolio-section justify-content-center">
      <div class="row justify-content-center text-center">
        <div class="col-lg-9 col-md-12 col-sm-12">
          <h3 class="display-4 justify-content-center text-center cause-text" style="color: #FFFFFF;">
            <span class="marker-underline">Our Work
              <div class="underline"></div>
            </span>
          </h3>
          <p class="missionabout-text pt-4">Explore Monarch Digital's proven track record of innovation and excellence. Our portfolio showcases a selection of our high-impact projects, highlighting our commitment to quality, creativity, and tailored solutions. From branding and graphic design to digital development, witness firsthand how we transform challenges into opportunities, making a real difference for our clients.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="workexamples">
  <div class="container-fluid workexamples-cont">
    <div class="container workexamples-section">
      <div class="row carousel-row">
        <div class="col-12">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center d-flex align-items-center top-cont">
              <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12 col-sm-12 text-center">
                  <h2 class="display-4" style="color: #333333">Our Creations, Your Voice</h2>
                  <div class="display-6 pt-1" style="font-size: 19px; color: #070D21; text-align: center;">
                    <p>Our partners are catalysts for change, driving transformation not only in the digital realm but in causes that shape our world. Whether it's political campaigns or non-profit advocacy organizations, we stand ready to amplify your mission and create real, meaningful impact.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row carouselfirst pt-2">
            <div class="col-lg-12 col-md-12 col-sm-12 p-0 bottom-cont">
              <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item c-item active">
                    <%= image_tag 'rickybackgroundimage.png', class: 'd-block w-100 c-img', alt: 'FAMM Equality Act at Congress' %>
                  </div>
                  <div class="carousel-item c-item">
                    <%= image_tag 'fammservices', class: 'd-block w-100 c-img', alt: 'FAMM Equality Act at Congress' %>
                  </div>
                  <div class="carousel-item c-item">
                    <%= image_tag 'rickyprotest.jpg', class: 'd-block w-100 c-img', alt: 'Ricky Protest Image' %>
                  </div>
                  <div class="carousel-item c-item">
                    <%= image_tag 'equalact', class: 'd-block w-100 c-img', alt: 'FAMM Equality Act at Congress' %>
                  </div>
                  <div class="carousel-item c-item">
                    <%= image_tag 'rickyimagethree', class: 'd-block w-100 c-img', alt: 'FAMM Equality Act at Congress' %>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row carouseltwo-row">
        <div class="row carousel-row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 text-center d-flex align-items-center top-conttwo">
                <div class="row justify-content-center">
                  <div class="col-lg-10 col-md-12 col-sm-12 text-center">
                    <h2 class="display-4" style="color: #F5F5F5">Progressive Print Solutions</h2>
                    <div class="display-6 pt-1" style="font-size: 19px; color: #F5F5F5; text-align: center;">
                      <p>In an era where tangible connections are cherished, our print design initiatives take a stand. Working exclusively with progressive organizations, we transform mere paper into powerful messages. From political party billboards to engaging print mailers, from elegant stationary to insightful annual reports for non-profits and advocacy groups, our creations embody the essence of your cause. With a blend of artistic finesse and strategic insight, we craft visual stories that resonate, inspire, and mobilize. Explore our portfolio to see how we turn traditional mediums into contemporary tools for change.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-2">
              <div class="col-lg-12 col-md-12 col-sm-12 p-0 bottom-cont">
                <div id="carouselExampleIndicatorsTwo" class="carousel carousel-two slide">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicatorsTwo" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicatorsTwo" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicatorsTwo" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicatorsTwo" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicatorsTwo" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item c-item active">
                      <%= image_tag 'LasryLetter.png', class: 'd-block w-100 c-img', alt: 'FAMM Equality Act at Congress' %>
                    </div>
                    <div class="carousel-item c-item">
                      <%= image_tag 'latinxedreport.png', class: 'd-block w-100 c-img', alt: 'FAMM Equality Act at Congress' %>
                    </div>
                    <div class="carousel-item c-item">
                      <%= image_tag 'cridtcard.png', class: 'd-block w-100 c-img', alt: 'FAMM Equality Act at Congress' %>
                    </div>
                    <div class="carousel-item c-item">
                      <%= image_tag 'acdpbill.png', class: 'd-block w-100 c-img', alt: 'FAMM Equality Act at Congress' %>
                    </div>
                    <div class="carousel-item c-item">
                      <%= image_tag 'fammguide.png', class: 'd-block w-100 c-img', alt: 'FAMM Equality Act at Congress' %>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicatorsTwo" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicatorsTwo" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row carouselthree-row">
        <div class="row carousel-row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12 text-center d-flex align-items-center top-contthree">
                <div class="row justify-content-center">
                  <div class="col-lg-10 col-md-12 col-sm-12 text-center">
                    <h2 class="display-4" style="color: #F5F5F5">Visual Storytelling</h2>
                    <div class="display-6 pt-1" style="font-size: 19px; color: #F5F5F5; text-align: center;">
                      <p>In an ever-connected online world, the right visuals are key to capturing attention and conveying your message. Our collection of social media graphics, tailored for progressive campaigns and advocacy groups, goes beyond mere aesthetics. They are strategic tools designed to resonate, engage, and mobilize. From eye-catching infographics to compelling banners, we craft visuals that amplify your voice and make a lasting impression. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 p-0 bottom-cont">
                <div id="carouselExampleIndicatorsThree" class="carousel carousel-three slide">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicatorsThree" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicatorsThree" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicatorsThree" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicatorsThree" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicatorsThree" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicatorsThree" data-bs-slide-to="5" aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicatorsThree" data-bs-slide-to="6" aria-label="Slide 7"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item c-item active">
                      <%= image_tag 'poderbbb.png', class: 'd-block w-100 c-img2', alt: 'FAMM Equality Act at Congress' %>
                    </div>
                    <div class="carousel-item c-item">
                      <%= image_tag 'pardonpeople.png', class: 'd-block w-100 c-img2', alt: 'FAMM Equality Act at Congress' %>
                    </div>
                    <div class="carousel-item c-item">
                      <%= image_tag 'fammadone.jpg', class: 'd-block w-100 c-img2', alt: 'FAMM Equality Act at Congress' %>
                    </div>
                    <div class="carousel-item c-item">
                      <%= image_tag 'rickycampaignone.png', class: 'd-block w-100 c-img2', alt: 'FAMM Equality Act at Congress' %>
                    </div>
                    <div class="carousel-item c-item">
                      <%= image_tag 'poderlatinxfour.jpeg', class: 'd-block w-100 c-img2', alt: 'FAMM Equality Act at Congress' %>
                    </div>
                    <div class="carousel-item c-item">
                      <%= image_tag 'alamancepride.png', class: 'd-block w-100 c-img2', alt: 'FAMM Equality Act at Congress' %>
                    </div>
                    <div class="carousel-item c-item">
                      <%= image_tag 'podergraphic.png', class: 'd-block w-100 c-img2', alt: 'FAMM Equality Act at Congress' %>
                    </div>
                    <div class="carousel-item c-item">
                      <%= image_tag 'rickycampaignthree.png', class: 'd-block w-100 c-img2', alt: 'FAMM Equality Act at Congress' %>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicatorsThree" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicatorsThree" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
