<!DOCTYPE html>
<html>
  <head>
    <title>Monarch Digital - Branding & Web Development</title>
    <meta name="description" content="Monarch Digital partners with allies to create strategic designs and impactful change. Specializing in branding, web development for non-profits, political campaigns, and advocacy organizations.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="branding, web development, non-profits, political campaigns, advocacy, design, NGOs">
    <link rel="canonical" href="https://www.monarch-digital.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta property="og:title" content="Monarch Digital" />
    <meta property="og:description" content="Empowering Change, Inspiring Action." />
    <meta property="og:image" content="<%= image_url('Website-Thumbnail.png') %>" />
    <meta property="og:url" content="https://www.monarch-digital.com" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Monarch Digital">
    <meta name="twitter:description" content="Empowering Change, Inspiring Action.">
    <meta name="twitter:image" content="<%= image_url('Website-Thumbnail.png') %>">
    <meta name="twitter:url" content="https://www.monarch-digital.com">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>
    <%= render "layouts/footer" %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
